[submodule "cmake"]
	path = cmake
	url = https://github.com/dnasdw/libsundaowen_cmake.git
[submodule "dep/libsundaowen"]
	path = dep/libsundaowen
	url = https://github.com/dnasdw/libsundaowen_src.git
[submodule "dep/zlib"]
	path = dep/zlib
	url = https://github.com/dnasdw/libsundaowen_zlib.git
[submodule "dep/libpng"]
	path = dep/libpng
	url = https://github.com/dnasdw/libsundaowen_libpng.git
[submodule "dep/PVRTexTool/Library"]
	path = dep/PVRTexTool/Library
	url = https://github.com/dnasdw/libsundaowen_PVRTexTool_Library.git
